<h1><i-bs name="alarm" width="35" height="35"></i-bs> Details de l'infirmiere !</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Numero Professionnel</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{infirmiere.id}}</td>
        <td>{{infirmiere.nom}}</td>
        <td>{{infirmiere.prenom}}</td>
        <td>{{infirmiere.numero_professionnel}}</td>
      </tr>
      
    </tbody>
  </table>